@media (max-width: 1024px) {
  .swiper-slide {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-content {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .section-head-text {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .outer-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .section-head-text {
    font-size: 35px;
  }

  .section-subhead-text {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
}